<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @_options.Value.AppName

        <a asp-action="Privacy" asp-controller="Home">Privacy</a>
    </div>
</footer>